*{
  margin:0%;
  padding: 0%;
  box-sizing: border-box; 
  font-family: 'poppins',sans-serif;
}

body{
  background-color: rgb(33, 33, 33);

}

a{
  color: aliceblue;
  text-decoration: none;
}
.navbar{
  position: fixed;
  left: 0%;
  top: 0%;
  width: 100%;
  padding: 25px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100%;

}
.navbar.logo{
  font-size: 30px;
  font-weight:700;
}

.navbar ul{
    display:flex ;

}

.navbar ul li{
  list-style: none;
  margin-left: 35px;
}

.navbar ul li a{
  font-size: 20px;
  font-weight: 500;
  transition: .5s;
}

.navbar ul li:hover a{
  color:#7cf03d;
}
.home{
  display: flex;
  align-items: center;
  height:100vh;
  padding: 60px 9% 0;
  color: white;
}

.home-info hi{
  font-size: 32px;
}

.home-info h2{
  font-size:32px ;
  margin-top: -10px;
}

.home-info p{
  font-size: 16px;
  margin: 10px 0 25px;
}

.home-info .btn-sci{
  display: flex;
  align-items: center;
}

.btn{
  display: inline-block;
  padding: 10px 30px;
  background: #7cf03d;
  border: 2px solid #7cf03d;
  border-radius: 40px;
  box-shadow: 0 0 10px #7cf03d;
  font-size: 16px ;
  color: #1f242d;
  font-weight: 600;
}

.btn:hover{
  
}